**/__pycache__/
**/*.py[cod]

**/*venv*
.env.example
**/.python-version

*.log
logs/
uvicorn.log

*.egg-info/

.vscode/
*.swp
**/.obsidian/

**/.DS_Store

.git
.gitignore
**/*.md
Dockerfile

*.pytest_cache/
.coverage
htmlcov/index.html