**/__pycache__/
**/*.py[cod]

venv/
**/.python-version

*.log
logs/
uvicorn.log

*.egg-info/

.vscode/
*.swp
**/.obsidian/

**/.DS_Store

.git
.gitignore
database_example.sql
**/*.md
.env.example
Dockerfile