**/__pycache__/
**/*.py[cod]

**/*venv*
**/.env
**/.env.test
**/.env.local
**/.python-version

*.log
logs/
uvicorn.log

*.egg-info/

.vscode/
*.swp
**/.obsidian/

**/.DS_Store

*.pytest_cache/
.coverage